@import "tailwindcss";
:root {
  color-scheme: light;
}

html, body, #app {
  height: 100%;
}

/* 스크롤바 살짝 미니멀하게 */
*::-webkit-scrollbar { width: 10px; height: 10px; }
*::-webkit-scrollbar-thumb { background: rgba(37,99,235,.35); border-radius: 9999px; }
*::-webkit-scrollbar-track { background: transparent; }
